 .pseudo {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    transform: translate(50%,50%),
 }

 .bottom_left{
   bottom:  14.64%;
    right: 20.64%;
 }

 .bottom_right{
    bottom:  14.64%;
    left: 20.64%;
 }

 .bottom_center{
    bottom:  14.64%;
    left: 50%;
 }


.top_left{
    top:  14.64%;
    right: 20.64%;
 }

 .top_right{
    top:  14.64%;
    left: 20.64%;
 }

 .top_center{
    top:  14.64%;
    left: 50%;
 }

 .center_center{
    top:  50%; 
    left: 50%;
 }

 .center_right{
    top:  50%; 
    right: 14.64%;
 }

 .center_left{
    top:  50%; 
    left: 14.64%;
 }